<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
 	<typeAliases>
	 <typeAlias type="global.sesoc.busanonna_tour.vo.Member" alias="Member" />
	 <typeAlias type="global.sesoc.busanonna_tour.vo.Board" alias="Board" />
	 <typeAlias type="global.sesoc.busanonna_tour.vo.Reply" alias="Reply"/>
	 <typeAlias type="global.sesoc.busanonna_tour.vo.Userinfo" alias="user"/>
	 <typeAlias type="global.sesoc.busanonna_tour.vo.Admin" alias="admin"/>
 	</typeAliases> 
	
	<mappers>
	 <mapper resource="mapper/memberMapper.xml" /> 
	 <mapper resource="mapper/boardMapper.xml" />
	 <mapper resource="mapper/UserMapper.xml" />
	</mappers>
</configuration>
