<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="global.sesoc.busanonna_tour.dao.UserMapper">
	
	<!-- ID로 Userinfo select 하기 -->
	<select id = "selectUserinfo" parameterType = "string" resultType = "user">
		select * from userinfo where user_id = #{id}
	</select>
	
	<!-- user 등록 -->
	<insert id = "insertUserinfo" parameterType = "user">
		insert into userinfo values (#{user_id}, #{user_password}, #{user_name}, #{user_email})
	</insert>
	
	<!-- ID로 Admin select 하기 -->
	<select id = "selectAdmin" parameterType = "string" resultType = "admin">
		select * from admin where admin_id = #{id}
	</select>
	
	<!-- Userinfo update 하기 -->
	<update id = "updateUserinfo" parameterType = "user">
		update userinfo set user_password = #{user_password}
		, user_name = #{user_name}, user_email = #{user_email} where user_id = #{user_id}
	</update>
	
	<!-- Admin update 하기 -->
	<update id = "updateAdmin" parameterType = "admin">
		update Admin set admin_password = #{admin_password}
		, admin_name = #{admin_name}, admin_email = #{admin_eamil} where admin_id = #{admin_id}
	</update>
</mapper>
